@import "variables.scss";

.btn {
  color: $white;
  margin: $px-unit * 2;

}

.btn-xs {
  @include fontDefault($small, $white);
  @include grayBorder();
  @include border-radius(0);
  padding: 1px $base-unit - 3;
  line-height: 1;
  height: $base-unit + 3;
  margin: $px-unit;
  background-color: $gray;
}

.btn-default {
  @include fontDefault($small, $black);
  @include grayBorder();
}

.btn-default:hover {
  @include fontDefault($small, $black);
  @include grayBorder();
}

.btn-sm {
  @include fontDefault($small, "$icon-font");
  @include grayBorder();
  @include border-radius(0);
  padding: 3px 15px 3px 15px;;
  line-height: 1.5;
  height: $base-unit + 9;
  margin: $px-unit;
}

.btn-lg {
  @include border-radius(0);
  padding: $base-unit - 7 $base-unit + 5;
  line-height: 1.5;
  height: 24px !important;
  @include fontDefault($small, "$white");
  margin: 1px;
}

.btn-success {
  color: $white;
  background-color: $green-light;
  border-color: darken($green-light, 10%);
}

.btn-success:hover {
  color: $white;
  background-color: $green-light;
  border-color: darken($green-light, 10%);
}

.btn-success:active, .btn-success:focus, .btn-success.active {
  color: $white;
  background-color: $green-light;
  border-color: darken($green-light, 10%);
}


