@import "variables.scss";

.bs-callout {
  border: $px-unit solid $gray;
  border-top: none;
  border-left-width: $px-unit * 5;
  margin: $base-unit * 2 0;
  padding: 0;

  .country {
    background: $gray;
    float: left;
    font-weight: $bold-text;
    color: $black;
    float: left;
    overflow: hidden;
    padding: $base-unit - 3 $base-unit;
    text-transform: none;
    width: $extend - 30;
  }

  .callout-heading {
    display: inline;
    margin-left: 0;
    overflow: hidden;
  }

  .project-panel-content {
    overflow: hidden;
    padding: $base-unit;

    p {
      font-size: $big - 2;
      font-weight: $normal-weight-text;
    }

    .status-link {
      @include border-radius(3px);
      float: right;
      font-size: $medium;
      font-weight: $normal-weight-text;
      margin-bottom: $base-unit / 2;
      padding: $base-unit $base-unit * 2 $base-unit $base-unit * 2;
      &:hover {
        background: $black;
      }

      a {
        color: $white;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  h3 {
    margin-top: 0;
    a {
      color: $black;
      font-weight: $bold-text - 100;
      &:hover {
        color: $black;
      }
    }
  }
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: $base-unit / 2;

  a {
    text-decoration: none
  }

}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  @include border-radius(3px);
}

.bs-callout + .bs-callout {
  margin-top: -($base-unit / 2);
}

.bs-callout-default {
  border-left-color: $darkGray;
}

.bs-callout-default h4 {
  color: $darkGray;

  a {
    color: $darkGray;
  }

  a:hover {
    color: $darkGray;
  }
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: $pending-locations;

  a {
    color: $pending-locations;
  }

  a:hover {
    color: $pending-locations;
  }

}

.bs-callout-success {
  min-height: 150px;
  border-left-color: $verified;

  .status-link {
    background: $verified;
  }

  .project-id {
    @include callouts($verified);
  }

  a {
    color: $verified;
  }

  a:hover {
    color: $verified
  }
}

.bs-callout-success h4 {
  color: $verified;
}

.bs-callout-warning {
  border-left-color: $no-locations;

  .status-link {
    background: $no-locations;
  }

  .project-id {
    @include callouts($no-locations);
  }

  a {
    color: $no-locations;
  }
  a:hover {
    color: $no-locations;
  }
}

.bs-callout-warning h4 {
  color: $no-locations;

}

.bs-callout-info {
  border-left-color: $pending-locations;
  a {
    color: $pending-locations;
  }

  .status-link {
    background: $pending-locations;
  }

  .project-id {
    @include callouts($pending-locations);
  }
  a {
    color: $pending-locations;
  }
  a:hover {
    color: $pending-locations;
  }
}

.bs-callout-info h4 {
  color: #5bc0de;
}
