@import "variables.scss";

.bs-callout {
  padding: 0;
  margin: $base-unit * 2 0;
  border: $px-unit solid $gray;
  border-left-width: 5px;
  border-radius: 3px;
  .country{
    background: $gray;
    float: left;
    font-weight: $bold-text;
    color: $black;
    float: left;
    overflow: hidden;
    padding: $base-unit - 3 $base-unit;
    text-transform: none;
    width: $extend - 30;
  }
  .callout-heading{
    display: inline;
    margin-left: 0;
    overflow: hidden;
  }
  .project-panel-content{
    overflow: hidden;
    padding: $base-unit;
    .status-link{
      margin-bottom: $base-unit / 2;
    }
  }
  h3{
    margin-top: 0;
    a{
      color: $black;
      font-weight: $bold-text;
    }
  }
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: $base-unit / 2;
  a {
    text-decoration: none
  }

}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
  a {
    color: #777
  }
  a:hover {
    color: #777
  }
}

.bs-callout-primary {
  border-left-color: #428bca;
  .text-vertical {
    background-color: #5cb85c;
  }
}

.bs-callout-primary h4 {
  color: #428bca;
  a {
    color: #428bca
  }
  a:hover {
    color: #428bca
  }

}

.bs-callout-success {
  min-height: 150px;
  border-left-color: $verified;
  .project-id {
    @include callouts($verified);
  }
  a {
    color: $verified;
  }
;
  a:hover {
    color: $verified
  }
;
}

.bs-callout-success h4 {
  color: $verified;
}

.bs-callout-danger {
  border-left-color: #d9534f;
  .project-id {
    background-color: #d9534f;
  }
  a {
    color: #d9534f
  }
  a:hover {
    color: #d9534f
  }

}

.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: $no-locations;
  .project-id {
    @include callouts($no-locations);
  }
  a {
    color: $no-locations;
  }
  a:hover {
    color: $no-locations;
  }
}

.bs-callout-warning h4 {
  color: $no-locations;

}

.bs-callout-info {
  border-left-color: $pending-locations;
  a {
    color: $pending-locations;
  }
;
  .project-id {
    @include callouts($pending-locations);
  }
  a {
    color: $pending-locations;
  }
  a:hover {
    color: $pending-locations;
  }
}

.bs-callout-info h4 {
  color: #5bc0de;

}
