@import "variables.scss";

.modal-dialog {
  width: 480px;
}
.modal-content{
  @include border-radius(3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.form-control{
  box-shadow: none;
}
#dataentry {
  padding: $base-unit;
  width: $base-unit * 45;
  
  input[type="text"] {
    border: 1px solid transparent;
    color: $black;
    font-size: $large + 2;
    font-weight: $bold-text - 300;
    height: $base-unit * 2;
    line-height: 1.5;
    padding: 0;
  }
  label{
    color: $darkGray;
    font-size: $large - 2;
    margin-bottom: 0;
    margin-left: -3px;
    padding:0;
    &.form-description{
      font-weight: $light-text;
      margin-left: -13px;
    }
  }
  .help-container {
    height: $base-unit * 2.4;
    float: left;
    .help {
      background-position: center center;
      background-size: 13px;
      float: left;
      height: $base-unit + 5;
      width: $base-unit + 5;
    }
  }
  .separator {
    margin-right: $base-unit / 2;
    float: left;
  }

  .form-group {
    margin-bottom: 3px;
  }
  label {
    padding: 3px;
  }
  .row {
    border: 0px solid red;
    padding-bottom: $base-unit - 3;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0px $base-unit - 3;
  }

  .options {
    padding-top: 2px;
    padding-right: $base-unit / 2;
    label {
      padding-right: $base-unit / 2;
    }
    .btn {
      margin: 2px;
    }
  }

}

#dataentry.new , #dataentry.created {
  #savebutton{
    @include border-radius(3px);
    background-color: $green-light !important
  }
}

#dataentry.updated {
  .colored {
    @include border-radius(3px);
    color: $no-locations;
  }
  #savebutton{
    @include border-radius(3px);
    background-color: $no-locations !important;
  }
}

#dataentry.auto_coded {
  .colored {
    @include border-radius(3px);
    color: $pending-locations;
  }
  #savebutton{
    @include border-radius(3px);
    background-color: $pending-locations!important
  }
}


#dataentry {
  .has-error label {
    color: $red-variant !important;
    font-weight: bold;
  }

  .has-error select {
    border-color: $red-variant;
    border-style: solid;
    border-width: 1px;
  }

  .has-error textarea {
    border-color: #E25956;
    border-style: solid;
    border-width: 1px;
  }
}

#noneditablefields {
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 15px;
  padding-left: 15px;
}

#cancelbutton{
  @include border-radius(3px);
}
