@import "variables.scss";

/*LISTS*/
.list {
  margin: 1px;
  border: 0px;
}

.list-group-item {
  border: 0px;
  margin: 1px;

}

.list-group-item-text {
  margin-bottom: 15px;
  line-height: 110%;
  border: 0;
}

.upload {
  margin-top: 40px;
  border-radius: 5px;
}

.export {
  margin-left: 10px;
  margin-top: 40px;
  border-radius: 5px;
}
