@import "variables.scss";

/*LISTS*/
.list {
  border: 0px;
  margin: $px-unit;
}

.list-group-item {
  border: 0px;
  margin: 0 0 $base-unit / 2 0;
  overflow: hidden;
  padding-top: 0;
  h3{
    clear: both;
    color: $black;
    font-weight: $bold-text - 200;
    margin-top: 0;
  }
}

.list-group-item-text {
  border: 0;
  line-height: 110%;
  margin-bottom: $base-unit - 7;
  label{
    display: inline-block;
    margin-right: 5px;
  }
}

.upload {
  @include border-radius(5px);
  margin-top: $base-unit * 4;
}

.export {
  @include border-radius(5px);
  margin-left: $base-unit;
  margin-top: $base-unit * 4;
}
