@import "variables.scss";
@import "btn.scss";
@import "lists.scss";
@import "nav-tabs.scss";
@import "forms.scss";
@import "map.scss";
/*ui modules*/
@import 'project-list.scss';
@import 'header.scss';
@import 'project-info.scss';
@import 'search.scss';
@import "data-entry.scss";
@import "callouts.scss";
@import "intro.scss";
@import "minimap.scss";
@import "upload.scss";

body {
  @include fontDefault($regular, $black);
  padding: 0;
  margin: 0;
  width: $extend;
  height: $extend;
}

.leaflet-container {
  font: auto;
  @include fontDefault($large, $darkGray, 100);
}

#root {
  #mapContainer {
    padding: 0;
    margin: 0;
    position: absolute;
    top: $base-unit * 3.8;
    left: 0;
    right: $px-unit * 3;
    bottom: $px-unit * 3;
    overflow: auto;
  }
}

h1 {
  @include fontDefault($giant, $black);
}

h2 {
  @include fontDefault($huge, $black);
}

h3 {
  @include fontDefault($big, $black);
}

h4 {
  @include fontDefault($large, $black);
}

.text-giant {
  @include fontDefault($giant, $black);
}

.text-huge {
  @include fontDefault($huge, $black);
}

.text-big {
  @include fontDefault($big, $black);
}

.text-large {
  @include fontDefault($large, $black);
}

;
.text-medium {
  @include fontDefault($medium, $black);
}

;
.text-regular {
  @include fontDefault($regular, $black);
}

;
.text-small {
  @include fontDefault($small, $black);
}

;

/*General styles*/
.panel {
  @include border-radius(4);
  margin-bottom: 0;
  background-color: $white;
  border: 0px solid transparent;
  -webkit-box-shadow: 0 $px-unit $px-unit rgba(0, 0, 0, .05);
  box-shadow: 0 $px-unit $px-unit rgba(0, 0, 0, .05);
}

.help {
  @include middle();
  width: $base-unit + 3;
  height: $base-unit + 4 !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAzRJREFUeNrcWd2Nm0AQhpULoASnAtsVHH7Js1PBmQrAUt59fo8UqABfBXfPeQFXEK6CUAIVRJmNhtPceJf9AZy7jLTCsnZ3vv3mdyEMRoj4+mMNjxjGHQz5e6mZ2sJoYFxg1L+/fW58dYYeICN4ZDDuBwCaRB7gEUYO4LtZABOgKYwomEYk2MIFeGgJdgePUgNUKqphvOBTJdJtVvjU7ZEA6OfRgAHsd2SWiwRX2ChRHD5F8FzOsF/iBRhdoMJg4kBPsHE9MmAl4KMCuAzIrc5FQgewHQLNgwkFdGUIPLIBrQP8k4Ft0Mcay+B8c1DTOkyPJdcJ6zZGwLBYLtzbmoisWyJTe00ak9Y5O7qgzB4HLWAMiCcPsENZxDqoNKC/0MAO2eRfRGmHYG3MWTGwLY5AEVQm0Hw/ieNTT5ogczOm9GRZQku2uWREKpCH3UplMGjq22OGUArqPJG/IppWQw27NSqzSU0V+WujOyTMrQjbxv3Z/FeWe4b3nF3LrBQzUw9ZJNGs04mS5R5wSguDQ1G4I78vQxNhT+rXwZBb4Pyalfr7v+vQyWnXVTg2LzTQXObbCMWylFgFM0/n2BskaLqDySqKgmIMaMRCDxkvmFmd+gNMNQ+W04/UGg59sMS0611QsFO/BDMI9guZR1BzTOsF8996YqARVs6Y9Qhnh21qYp2lCOaVK7Cyeo4iYS6kwO4Dz9M2fYlJFjOBjVhuN94k/jXDO9ZfHCYjYybAK8ZuNyXg1rHG28jatmQ79iutYBVnNQPb3YTWagRjIA7en1BMF8GKRYTXnXchiIW2vbXAHpb6cTqBroa4Qztin5T1H02fJR6pCUy9qkVTJNPYBm8JrSe7MXOHgqa1nAXHcYLCsRsZE0cWuOdXwJgnC8ZyNkJZiQqf8ILg0929YVd1a75i2UcZuYOpftuAXSvYza8qHZ4gYYpKNO+tskKkeCGT0EopFFeSnFWsygP0hbDTOIBVvap6Hny3hou9XwYy01pdhVxeBuqany1jpmc6c0htjSXYTMGsttH/P15os41v+cng6vWqM2Ci5GN8lGEu8jE+e2mAj/2wWPjcRsKRgXPzT7d/BBgA4PGjlPeAM/oAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: $base-unit - 2;
  cursor: pointer;
  background-position-y: $px-unit;

}

.separator {
  @include middle();
  height: $base-unit + 4;
  width: $px-unit;
  background-color: rgb(241, 241, 241);
  margin-left: $base-unit - 3;
  margin-right: $base-unit - 3;

}

.middle {
  @include middle();
}

.green {
  color: $green !important;
}

.bolder {
  font-weight: bold;
}

.leaflet-popup-content {
  width: auto !important;
}

// new styles

.project-code {
  color: $green;
  font-size: $large + 2;
  font-weight: $bold-text;
  margin-bottom: $base-unit / 2;
  margin-top: $base-unit / 1.5;
}

.panel-section {
  margin-bottom: $base-unit;
  overflow: hidden;
  &.search-section {
    margin-bottom: 0;
  }
}

.padded-section {
  padding: $base-unit;
}

.panel-content {
  margin-top: -($base-unit / 2);
  overflow: hidden;
  padding-right: $base-unit;

  .project-info-label {
    color: $black;
    font-size: $small + 2;
    margin-bottom: $base-unit / 1.3;
  }
  .project-info {
    font-size: $big - 2;
    color: $darkGray;
    margin: 0 0 $base-unit;
    a {
      color: $green;
      font-size: $small + 2;
      text-decoration: underline;
      &:hover {
        color: $black;
      }
    }
  }
}

.project-icon {
  @include panel-section-icon();
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzIzMUUyMDtzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cgkuc3Qxe2ZpbGw6bm9uZTtzdHJva2U6IzAxMDEwMTtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cgkuc3Qye2ZpbGw6bm9uZTtzdHJva2U6IzY2OTkzMztzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cgkuc3Qze2ZpbGw6bm9uZTtzdHJva2U6IzY2OTkzMztzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjExOTciIGN5PSI0MTM0IiByPSIyNSIvPgo8bGluZSBjbGFzcz0ic3QxIiB4MT0iMTE5NyIgeTE9IjQxNDYiIHgyPSIxMTk3IiB5Mj0iNDE0OCIvPgo8cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTE5MCw0MTI1YzAtMy45LDMuMi03LjEsNy4xLTdjMy43LDAuMSw2LjgsMy4yLDYuOSw2LjljMCwyLjUtMS4zLDQuNy0zLjIsNmMtMi40LDEuNi0zLjgsNC40LTMuOCw3LjN2Mi44Ii8+CjxjaXJjbGUgY2xhc3M9InN0MiIgY3g9IjUwLjQiIGN5PSIzNyIgcj0iNiIvPgo8cGF0aCBjbGFzcz0ic3QyIiBkPSJNNTAuMiw3MUwzNS42LDUwYy01LjQtNy4yLTQuNy0xOS4zLDEuNy0yNS43bDAsMGM3LjEtNy4xLDE4LjYtNy4xLDI1LjcsMGwwLDBjNi40LDYuNCw3LjEsMTguNCwxLjcsMjUuNwoJTDUwLjIsNzF6Ii8+Cjxwb2x5Z29uIGNsYXNzPSJzdDMiIHBvaW50cz0iNjksNTYgNjAuNiw1NiA1MC4yLDcxIDM5LjgsNTYgMzEsNTYgMjEsNzcgNzksNzcgIi8+Cjwvc3ZnPgo=");
}

.heading-buttons {
  position: absolute;
  right: $base-unit + 3;
  top: $base-unit;
  ul {
    @include list-unstyled();
    margin-right: -($base-unit / 2);
    li {
      border-left: $px-unit solid lighten($darkGray, 45%);
      float: left;
      height: $base-unit * 2.5;
      opacity: 1;
      padding-left: $base-unit / 2;
      width: $base-unit * 4;
    }
  }
}

// heading buttons
.close-icon {
  @include heading-icon();
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzIzMUUyMDtzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cgkuc3Qxe2ZpbGw6bm9uZTtzdHJva2U6IzAxMDEwMTtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjExOTciIGN5PSI0MTM0IiByPSIyNSIvPgo8bGluZSBjbGFzcz0ic3QxIiB4MT0iMTE5NyIgeTE9IjQxNDYiIHgyPSIxMTk3IiB5Mj0iNDE0OCIvPgo8cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTE5MCw0MTI1YzAtMy45LDMuMi03LjEsNy4xLTdjMy43LDAuMSw2LjgsMy4yLDYuOSw2LjljMCwyLjUtMS4zLDQuNy0zLjIsNmMtMi40LDEuNi0zLjgsNC40LTMuOCw3LjN2Mi44Ii8+CjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjUwIiBjeT0iNDgiIHI9IjI1Ii8+Cjxwb2x5bGluZSBjbGFzcz0ic3QxIiBwb2ludHM9IjQxLDU3IDUwLDQ4IDU5LDM5ICIvPgo8cG9seWxpbmUgY2xhc3M9InN0MSIgcG9pbnRzPSI0MSwzOSA1MCw0OCA1OSw1NyAiLz4KPC9zdmc+Cg==");
}

.info-icon {
  @include heading-icon();
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzIzMUUyMDtzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cgkuc3Qxe2ZpbGw6bm9uZTtzdHJva2U6IzAxMDEwMTtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cgkuc3Qye2ZpbGw6bm9uZTtzdHJva2U6IzEyNjdBNTtzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cgkuc3Qze2ZpbGw6bm9uZTtzdHJva2U6IzEyNjdBNTtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjExOTciIGN5PSI0MTM0IiByPSIyNSIvPgo8bGluZSBjbGFzcz0ic3QxIiB4MT0iMTE5NyIgeTE9IjQxNDYiIHgyPSIxMTk3IiB5Mj0iNDE0OCIvPgo8cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTE5MCw0MTI1YzAtMy45LDMuMi03LjEsNy4xLTdjMy43LDAuMSw2LjgsMy4yLDYuOSw2LjljMCwyLjUtMS4zLDQuNy0zLjIsNmMtMi40LDEuNi0zLjgsNC40LTMuOCw3LjN2Mi44Ii8+CjxjaXJjbGUgY2xhc3M9InN0MiIgY3g9IjUwIiBjeT0iNDgiIHI9IjI1Ii8+CjxsaW5lIGNsYXNzPSJzdDMiIHgxPSI1MCIgeTE9IjYwIiB4Mj0iNTAiIHkyPSI2MiIvPgo8cGF0aCBjbGFzcz0ic3QzIiBkPSJNNDMsMzljMC0zLjksMy4yLTcuMSw3LjEtN2MzLjcsMC4xLDYuOCwzLjIsNi45LDYuOWMwLDIuNS0xLjMsNC43LTMuMiw2Yy0yLjQsMS42LTMuOCw0LjQtMy44LDcuM1Y1NSIvPgo8L3N2Zz4K");
}

// search section
.project-search-icon {
  @include panel-section-icon();
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzY2OTkzMztzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cgkuc3Qxe2ZpbGw6bm9uZTtzdHJva2U6IzY2OTkzMztzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjYyLjkiIGN5PSI2MS44IiByPSI5LjgiLz4KPGxpbmUgY2xhc3M9InN0MSIgeDE9IjY5LjUiIHkxPSI2OSIgeDI9Ijc2LjIiIHkyPSI3NiIvPgo8Y2lyY2xlIGNsYXNzPSJzdDEiIGN4PSI0My41IiBjeT0iMzgiIHI9IjYiLz4KPHBhdGggY2xhc3M9InN0MSIgZD0iTTU5LjEsNDljNC03LjMsMi45LTE3LjktMi45LTIzLjdsMCwwYy03LjEtNy4xLTE4LjYtNy4xLTI1LjcsMGwwLDBjLTYuNCw2LjQtNy4xLDE4LjQtMS43LDI1LjdsMTQuNSwyMWwzLjgtNSIKCS8+Cjwvc3ZnPgo=");
  height: $base-unit * 3.5;
  margin-left: -($base-unit - 2);
  width: $base-unit * 3.5;
}

.project-search {
  border-bottom: $px-unit solid $gray;
  border-top: $px-unit solid $gray;
  padding-top: $base-unit * 2;
  padding-bottom: $base-unit * 2.5;

  input[type=text] {
    @include border-radius(0);
    border: $px-unit solid $gray-darker;
    float: left;
    margin-right: $base-unit + 5;
    padding: $base-unit;
    outline: none;
    width: $extend  / 1.6;
  }
  button {
    background: $green-light;
    color: $white;
    padding: $base-unit - 1;
    text-transform: uppercase;
  }
  .search-option-label {
    float: left;
    margin-top: $base-unit / 6;
  }
  .select-section {
    float: left;
    margin-right: $base-unit;
    margin-top: $base-unit / 1.1;
    cursor: pointer;
  }
  .select-box {
    background: $white;
    border: $px-unit solid $gray-darker;
    display: inline-block;
    float: left;
    height: $base-unit * 2;
    margin-right: $base-unit / 2;
    width: $base-unit * 2;
    &:hover {
      background: $green;
    }
    &.selected {
      background: $green;
    }
  }

  .form-section {
    padding-top: 0;
  }
}

// project lists
.geocoded-icon {
  @include panel-section-icon();
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzY2OTkzMztzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjUwIiBjeT0iMzciIHI9IjYiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTQ5LjgsNzFMMzUuMyw1MGMtNS40LTcuMi00LjctMTkuMywxLjctMjUuN2wwLDBjNy4xLTcuMSwxOC42LTcuMSwyNS43LDBsMCwwYzYuNCw2LjQsNy4xLDE4LjQsMS43LDI1LjcKCUw0OS44LDcxeiIvPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzgsNjJjLTEwLDEuMi0xNyw0LjUtMTcsNy41YzAsNC4xLDEzLDcuNSwyOSw3LjVzMjktMy40LDI5LTcuNWMwLTMtNy02LjMtMTctNy41Ii8+Cjwvc3ZnPgo=");
  height: $base-unit * 3.5;
  margin-left: -($base-unit - 2);
  width: $base-unit * 3.5;
}

.selected-locations-icon {
  @include panel-section-icon();
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA3NSA3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNzUgNzU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO3N0cm9rZTojNjY5OTMzO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTU2LjIsMjYuMWMtMC41LTQtMi42LTkuMi0xMC44LTkuMnMtMTAuMyw1LjItMTAuOCw5LjJjLTAuMywyLjItMC4xLDQuNCwwLjMsNi42YzIuNSwxMS45LDguNywxOSwxMC4yLDIwLjYKCWMwLjIsMC4yLDAuNSwwLjIsMC42LDBjMS41LTEuNiw3LjctOC43LDEwLjItMjAuNkM1Ni4zLDMwLjQsNTYuNSwyOC4zLDU2LjIsMjYuMXogTTQ1LjQsMzMuOGMtMy41LDAtNi4zLTIuOC02LjMtNi4zCgljMC0zLjUsMi44LTYuMyw2LjMtNi4zYzMuNSwwLDYuMywyLjgsNi4zLDYuM0M1MS43LDMwLjksNDguOSwzMy44LDQ1LjQsMzMuOHoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTQzLjIsMzAuOGMtMC41LTQtMi42LTkuMi0xMC44LTkuMnMtMTAuMyw1LjItMTAuOCw5LjJjLTAuMywyLjItMC4xLDQuNCwwLjMsNi42YzIuNSwxMS45LDguNywxOSwxMC4yLDIwLjYKCWMwLjIsMC4yLDAuNSwwLjIsMC42LDBjMS41LTEuNiw3LjctOC43LDEwLjItMjAuNkM0My4zLDM1LjIsNDMuNSwzMyw0My4yLDMwLjh6IE0zMi40LDM4LjVjLTMuNSwwLTYuMy0yLjgtNi4zLTYuMwoJYzAtMy41LDIuOC02LjMsNi4zLTYuM2MzLjUsMCw2LjMsMi44LDYuMyw2LjNDMzguNywzNS43LDM1LjksMzguNSwzMi40LDM4LjV6Ii8+Cjwvc3ZnPgo=");
  height: $base-unit * 3.5;
  margin-left: -($base-unit);
  width: $base-unit * 3.5;
}

.accordion-heading {
  border-bottom: $px-unit solid $gray;
  clear: both;
  height: $base-unit * 5;
  padding: $base-unit / 2 $base-unit;

  .arrow-icon {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE3OTIgMTc5MjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM2Njk5MzM7fQo8L3N0eWxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQwOCw3MDRjMCwxNy4zLTYuMywzMi4zLTE5LDQ1bC00NDgsNDQ4Yy0xMi43LDEyLjctMjcuNywxOS00NSwxOXMtMzIuMy02LjMtNDUtMTlMNDAzLDc0OQoJYy0xMi43LTEyLjctMTktMjcuNy0xOS00NXM2LjMtMzIuMywxOS00NXMyNy43LTE5LDQ1LTE5aDg5NmMxNy4zLDAsMzIuMyw2LjMsNDUsMTlTMTQwOCw2ODYuNywxNDA4LDcwNHoiLz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
    float: right;
    height: $base-unit * 1.7;
    margin-top: -($base-unit * 2);
    width: $base-unit * 1.7;
  }

  .accordion-title {
    color: $green;
    display: block;
    font-size: $big + 1;
    font-weight: $normal-weight-text;
    margin-top: $base-unit / 1.5;
    &.results-title {
      color: $black;
      margin-left: $base-unit * 3.2;
    }
    &:hover {
      color: $green-light;
    }

    .project-count {
      color: $darkGray;
      display: inline-block;
      font-size: $big;
      font-weight: $light-text;
      &.results-count {
        color: $green-light;
        margin-left: $base-unit / 2;
      }
      .results-value {
        font-weight: $bold-text;
      }
    }
  }
}

// project list in search results
.accordion-content {
  @include scrollbar();
  padding-top: $base-unit * 2;

  .panel-content {
    margin-left: $base-unit * 3.5;
  }

  .project-location {
    color: $black;
    font-weight: $bold-text;
    font-size: $huge;
    margin-bottom: $base-unit;
  }
  .location-country {
    color: $darkGray;
    font-size: $big;
    font-weight: $light-text;
  }

  ul.project-list {
    @include list-unstyled();
    padding-right: $base-unit * 2.5;
    li {
      border-bottom: $px-unit solid $gray;
      display: block;
      overflow: hidden;
      padding: $base-unit / 2 0 $base-unit 0;
      p {
        font-size: $big - 2;
      }
    }
  }
}

.geocoded-btns {
  button {
    @include border-radius(3px);
    color: $white;
    float: left;
    font-size: $huge - 2;
    font-weight: $bold-text;
    margin-right: $base-unit;
    padding: $base-unit/2 $base-unit + 5;
    width: $base-unit * 10;
    &:hover {
      background: $darkGray;
    }
    &.remove {
      background: $red;
      &:hover {
        background: $darkGray;
      }
    }
    &.preview {
      background: $blue;
      &:hover {
        background: $darkGray;
      }
    }
    &.verify {
      background: $green;
      &:hover {
        background: $darkGray;
      }
    }
  }
}

.search-results {
  height: $base-unit * 20;
  overflow-y: auto;
}

.project-search-results {
  padding: 0 $base-unit * 3;
}

.project-header {
  background: $project-list-header-bg;
  padding: $base-unit + 5;
  .project-header-search {
    height: $base-unit * 3.5;
    margin-top: $base-unit / 2;
    padding: $base-unit;
  }
  h2 {
    float: left;
    font-size: $huge;
    font-weight: $normal-weight-text;
    margin-top: $base-unit - 1;
  }
  .action-btn {
    @include border-radius(3px);
    background: $pending-locations;
    border: $px-unit solid $pending-locations;
    color: $white;
    float: right;
    font-weight: $normal-weight-text;
    margin-left: $base-unit;
    margin-top: $base-unit + 3;
    padding: $base-unit / 1.5 $base-unit * 2.5;
    &:hover {
      background: darken($pending-locations, 20%);
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }
}

.project-list-filters {
  padding-top: $base-unit + 3;
  .dropdown {

  }
}

.project-search-form {
  border-bottom: $px-unit solid $gray;
  padding-bottom: $base-unit * 1.2;
  h3 {
    margin-top: $base-unit * 2.2;
  }
}

.filter-container {
  padding: 0 $base-unit * 2;
}

.project-filter {
  float: left;
  overflow: visible;
}

.filter-button-wrapper {
  display: inline;
  float: left;
  .btn-toolbar {
    display: inline-block;
  }
}

.dropdown-menu {
  padding-left: $base-unit;
  li {
    display: block;
    margin-bottom: $base-unit / 3;

    .select-box {
      float: left;
      height: $base-unit * 2;
      margin-right: $base-unit / 2;
      width: $base-unit * 2;
      border: 2px solid $gray;
      &:hover {
        background: $green;
      }
      &.selected {
        background: $green;
      }
    }
  }
}