@import "variables.scss";

#project-search-form {
  @include fontDefault($medium, $black);
  input[type="text"] {
    @include boxSizeBig();
  }

  div.radio {
    margin-left: $base-unit;
  }

  input[type="checkbox"], input[type="radio"] {
    display: block;
    float: left;
    margin: $px-unit * 3;
  }

  a {
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }
}

#project-search-list {
  @include fontDefault($medium, $black);

  .list-group {
    padding: 0;
  }

  .bs-callout-info {
    border-left-color: $pending-locations;
    min-height: 150px;
  }

}

/*Pagination*/
.centered {
  text-align: center;
}

.pagination.pagination-sm {
  border: 0px solid red;
  li {

    a {
      @include fontDefault($medium, $green);
    }

  }
}

.pagination > .active > a {
  background-color: $gray;
  border: 1px solid $gray-darker;
  color: $black;
}

.pagination > .active > a:hover {
  background-color: $gray;

}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {

  z-index: 3;
  color: $black;
  cursor: default;
  background-color: $gray;
  border-color: $gray;

}
