@import "variables.scss";

/*INFO PANEL*/
.leaflet-control-info-panel {
  overflow: hidden !important;

  .leaflet-control-layers.introjs-fixParent {
    position: relative !important;
  }
}

.leaflet-control-info-panel.introjs-fixParent {
  position: relative !important;
}

#project-info {
  z-index: 9999;
  -webkit-transition: opacity .1s; /* Safari */
  transition: opacity .1s;
  height: $extend;
  width: 620px;
  z-index: 99;

  @include fontDefault($medium, $darkGray);

  .panel-success {
    .panel-heading {
      background-color: $header-bg;
      border: 0px;
      overflow: hidden;
      position: relative;
    }
  }

  .heading-container {
    height: 30px;
  }

  .title {
    @include fontDefault($huge, $darkGray);

  }

  .close-btn {
    @include fontDefault($large, $green, 100);
    @include middle();
    float: right;
    cursor: pointer;
    position: relative;
    top: 0px;
    right: 0px;
    top: 10px;
    right: 5px;
  }

  .tab-container {
    padding: 10px 15px;
    &.no-padding {
      padding: 0;
    }
  }

  label {
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    display: block;

  }
  label.inline {
    display: inline !important;
    margin-right: 3px;
  }

  .tab-content {
  }

  .form-group {
    padding: 15px 0px;
    margin: 0px;
  }

  .list-group {
    overflow: auto;
    max-height: 400px;
    padding: 5px;
    margin-top: 2px;
  }
}

