@import "variables.scss";

/*INFO PANEL*/
.leaflet-control-info-panel {
  overflow: hidden !important;

  .leaflet-control-layers.introjs-fixParent {
    position: relative !important;
  }
}

.leaflet-control-info-panel.introjs-fixParent {
  position: relative !important;
}

#project-info {
  -webkit-transition: opacity .1s; /* Safari */
  height: $extend;
  line-height: 110%;
  transition: opacity .1s;
  width: $base-unit * 55;
  z-index: 9999;

  @include fontDefault($medium, $darkGray);
  @include scrollbar();

  .panel-success {
    min-height: $base-unit * 30;
    overflow: hidden;

    .panel-heading {
      background-color: $header-bg;
      border: none;
      width: $extend;
      height: $base-unit * 16;
      overflow: hidden;
      position: static;
      .panel-section{
        margin-bottom: 0;
      }
    }
  }
  
  .panel-body{
    overflow-y: auto;
  }

  .heading-container {
    height: $base-unit * 3;
  }

  .title {
    @include fontDefault($huge, $darkGray);

  }

  .close-btn {
    @include fontDefault($large, $green, 100);
    @include middle();
    float: right;
    cursor: pointer;
    position: relative;
    top: $base-unit;
    right: $base-unit / 2;
  }

  .tab-container {
    padding: $base-unit $base-unit + 5;
    &.no-padding {
      padding: 0;
    }
  }

  label {
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    display: block;

  }

  label.inline {
    display: inline !important;
    margin-right: 3px;
  }

  .form-group {
    padding: $base-unit + 5 0px;
    margin: 0px;
  }

  .list-group {
    padding: $base-unit / 2;
    margin-top: 2px;
  }
}

.fa-spinner{
  margin-left: $base-unit;
}

.panel-content {
  margin-top: -($base-unit / 2);
  overflow: hidden;
  padding-right: $base-unit;

  .project-info-label {
    color: $black;
    font-size: $small + 2;
    font-weight: $normal-weight-text + 50;
    margin-bottom: $base-unit / 2;
  }
  .project-info {
    font-size: $big - 1.5;
    color: $darkGray;
    margin: 0 0 $base-unit;
    a {
      color: $green;
      font-size: $small + 2;
      text-decoration: underline;
      &:hover {
        color: $black;
      }
    }
  }
}

.country-name{
  color: $black;
  font-weight: $normal-weight-text + 50;
}