@import "variables.scss";

/*INFO PANEL*/
.leaflet-control-info-panel {
  overflow: hidden !important;

  .leaflet-control-layers.introjs-fixParent {
    position: relative !important;
  }
}

.leaflet-control-info-panel.introjs-fixParent {
  position: relative !important;
}

#project-info {
  -webkit-transition: opacity .1s; /* Safari */
  height: $extend;
  line-height: 110%;
  transition: opacity .1s;
  width: $base-unit * 55;
  z-index: 9999;

  @include fontDefault($medium, $darkGray);
  @include scrollbar();

  .panel-success {
    height: $base-unit * 60;
    overflow: hidden;

    .panel-heading {
      background-color: $header-bg;
      border: none;
      overflow: hidden;
      position: relative;
      width: $extend;
    }
  }

  .heading-container {
    height: $base-unit * 3;
  }

  .title {
    @include fontDefault($huge, $darkGray);

  }

  .close-btn {
    @include fontDefault($large, $green, 100);
    @include middle();
    float: right;
    cursor: pointer;
    position: relative;
    top: $base-unit;
    right: $base-unit / 2;
  }

  .tab-container {
    border: 1px solid $gray;
    height: 400px;
    padding: $base-unit $base-unit + 5;
    overflow-y: auto;
    &.no-padding {
      padding: 0;
    }
  }

  label {
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    display: block;

  }

  label.inline {
    display: inline !important;
    margin-right: 3px;
  }

  .form-group {
    padding: $base-unit + 5 0px;
    margin: 0px;
  }

  .list-group {
    padding: $base-unit / 2;
    margin-top: 2px;
  }

  // read more styles
  .read-more-state {
    display: none;
  }

  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }

  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
  }

  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
  }

  .read-more-trigger {
    cursor: pointer;
    text-decoration: underline;
    color: $green;
    font-size: $medium;
    line-height: 2;
    &:hover {
      color: $black;
    }
  }
}

.fa-spinner {
  margin-left: $base-unit;
}

.project-info-label {
  color: $black;
  font-size: $small + 2;
  font-weight: $normal-weight-text + 50;
  margin-bottom: $base-unit / 2;
}

.project-info {
  font-size: $big - 1.5;
  color: $darkGray;
  margin: 0 0 $base-unit;
}

.panel-content {
  margin-top: -($base-unit / 2);
  overflow: hidden;
  padding-right: $base-unit;
}

.country-name {
  color: $black;
  font-weight: $normal-weight-text + 50;
}
