/*Locations Search*/
#search-results {
  .btn {
    @include middle();
    position: absolute;
    right: 0px;
  }

  p {

    width: 85%;
  }

  .list-group {
    overflow: auto;
    max-height: 400px;
    padding: 5px;

  }
  .list-group-item {
    font-size: $medium;
    border: 0px;
    margin: 1px;
    border-bottom: 1px solid #eee;

  }
}
