@import "variables.scss";

/*Locations Search*/
#search-results {
  p {
    width: $extend - 15;
  }

  .list-group {
    overflow: auto;
    max-height: 400px;
    padding: $base-unit / 2;

  }
  .list-group-item {
    font-size: $medium;
    border: none;
    margin: 1px;
    border-bottom: 1px solid #eee;
  }
}
