@import "variables.scss";

.container {
  width: $extend - 40 !important;
  margin-bottom: $base-unit;
}

.upload-options {
  font-size: $large;

  .upload-button {
    margin-top: $base-unit / 2;
    min-width: 150px;

    &.btn-lg {
      padding: 0;
      height: $base-unit * 3 !important;
      font-size: $big;
      font-weight: 400;
    }
  }
}

.error-row{
  padding: 3px;
}

.dropzone {
  margin: $base-unit;

  > div {
    text-align: center;
    width: $extend !important;
    border: 1px dashed $black !important;
    min-height: 200px;
    padding: auto;
    font-size: $big;

    ul {
      line-height: 18px;
      list-style: none;
      li {
        padding: 5px;
      }
      li:hover {
        box-sizing: border-box;
        border: 1px solid #CCC;
      }
    }
    p {
      line-height: 30px;
    }
    .link {
      margin-right: $base-unit;
      color: blue
    }
  }
  .label{
    margin-left: 5px;
    float: right;
  }
}

.spinner {
  float: right;
  margin-top: -10px;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}

.spinner > div {
  background-color: #FF9505;
  height: 100%;
  margin: 1px;
  width: 3px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
