@import "variables.scss";

.container {
  width: $extend - 40 !important;
  margin-bottom: $base-unit;
}

.upload-options {
  padding: $base-unit * 2;
  display: block;
  font-size: $large;
}

.dropzone {
  margin: $base-unit;
  > div {
    text-align: center;
    width: $extend !important;
    height: 30% !important;
    border: 1px dashed $black !important;
    min-height: 200px;
    padding: auto;
    font-size: $large;

    ul {
      line-height: 18px;
      list-style: none;
      li {
        padding: 5px;
      }
      li:hover {
        box-sizing: border-box;
        border: 1px solid #CCC;
      }
    }
    p {
      line-height: 30px;
    }
    .link {
      margin-right: $base-unit;
      color: blue
    }
  }
}
