@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

// Colors
$black: #000000;
$white: #ffffff;
$darkGray: #666666;
$header-bg: #f7f7f7;
$green: #669933;
$green-light: #89b85a;
$red: #ca3a3a;
$red-variant: #d9534f;
$blue: #1c82cd;
$pending-locations: #2ba0f7;
$gray: #eeeeee;
$gray-darker: #cccccc;
$no-locations: #f0ad4e;
$verified: #669933;
$project-list-header-bg: #e7f4df;

// Base units
$base-unit: 10px;
$em-unit: 1em;
$px-unit: 1px;
$extend: 100%;

// Fonts
$default-font:'Open Sans', sans-serif;
$icon-font: FontAwesome;
$small: 9px;
$medium: 11px;
$large: 12px;
$big: 14px;
$huge: 16px;
$giant: 18px;
$regular: 10px;

// Font weights
$light-text: 300;
$normal-weight-text: 450;
$bold-text: 800;

// Mixins 
@mixin list-unstyled() {
  list-style: none;
  padding-left: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; /* stops bg color from leaking outside the border: */
}
// project list callouts
@mixin callouts($bg){
  background: $bg;
  color: $white;
  float: left;
  font-weight: $normal-weight-text + 100;
  padding: $base-unit - 3 $base-unit / 2;
  width: $extend - 70;
}

@mixin heading-icon() {
  background-repeat: no-repeat;
  background-position: 0 -2px;
  background-size: $extend $extend;
  display: block;
  height: $base-unit * 3;
  opacity: 1;
  width: $base-unit * 3;
  &:hover {
    opacity: 0.7;
  }
}

@mixin panel-section-icon() {
  background-position: 0 0;
  float: left;
  height: $base-unit * 3;
  margin-left: -($base-unit / 2);
  margin-right: $base-unit / 2;
  width: $base-unit * 3;
}

@mixin fontDefault($size,$color,$weight:100) {
  font-family: $default-font;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin middle() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

@mixin grayBorder() {
  border: 1px solid $gray;
}

@mixin closeIcon() {
  color: transparent !important;
  background: url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QMqaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjUtYzAyMSA3OS4xNTQ5MTEsIDIwMTMvMTAvMjktMTE6NDc6MTYgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OEU2NkQ0NDVDRTE1MTFFNUJBQjk5QjM0Q0JCMjY2MDciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OEU2NkQ0NDZDRTE1MTFFNUJBQjk5QjM0Q0JCMjY2MDciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4RTY2RDQ0M0NFMTUxMUU1QkFCOTlCMzRDQkIyNjYwNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4RTY2RDQ0NENFMTUxMUU1QkFCOTlCMzRDQkIyNjYwNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pv/uAA5BZG9iZQBkwAAAAAH/2wCEAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwODxAPDgwTExQUExMcGxsbHB8fHx8fHx8fHx8BBwcHDQwNGBAQGBoVERUaHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fH//AABEIAAkACQMBEQACEQEDEQH/xABfAAADAQAAAAAAAAAAAAAAAAAAAgYHAQEAAAAAAAAAAAAAAAAAAAAAEAABAwIDCQEAAAAAAAAAAAABAgMEAAUREgahsdEicpNVFgc3EQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwBZ89LwuN2u9xkMa9YkPCNGDzicpQ4gAYBByKRzBtAVgobQt/afvXjT2hwoDVX7zbupncKDdKD/2Q==') no-repeat !important;
  background-position: 50% 50% !important;
}

@mixin boxSizeBig() {
  height: $base-unit * 3;
}

@mixin inputText() {
  @include fontDefault($regular, $black);
  height: $base-unit * 2.2;
  @include grayBorder();
  color: $black;
}

@mixin filter-option($border-color){
  border: $px-unit * 3 solid $border-color;
  background-color: $white;
  height: $base-unit + 5;
  width: $base-unit + 5;
}

@mixin scrollbar(){
  ::-webkit-scrollbar {
    width: $base-unit + 2;
  }

  ::-webkit-scrollbar-track {
    @include border-radius(0);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  }

  ::-webkit-scrollbar-thumb {
    @include border-radius(0);
    background: rgba(158, 161, 165, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.2);
  }
}
.no-padding{
  padding: 0;
}
